/* 自作のcssファイル  */
.img-center{
    object-fit: cover;
    object-position: center;
}

.header{
    padding: 100px;
}

.header-title{
    letter-spacing: 2px;
}

.ssn{
    font-size: 28px;

}

.w-100{
    width:100px;
}

.h-10{
    height:100px;
}

.pointer{
    cursor:pointer;
}